[submodule "src/com/vladsch/clionarduinoplugin/resources/arduino-cmake"]
	path = src/com/vladsch/clionarduinoplugin/resources/arduino-cmake
	url = https://vsch@github.com/francoiscampbell/arduino-cmake.git
